node_modules/
public/bundle.js
public/bundle.js.map
public/fonts/*
!public/fonts/
public/css/*
public/js/*
!public/js/index.js
!public/js/leastsquare.js
public/css/*
!public/css/style.css
node/ssl.key
node/ssl.crt
node/ssl.csr
npm-debug.log
book/note.json
logs/*
!book/
!logs/
